:root {
	--font-family: 'DM Sans', sans-serif;
	--placeholder-color: #9191a1;
	--white-color: #fff;
	--black-color: #262626;
	--grey-color: #686873;
	--grey-color2: #f3f3f3;
	--background-color: #f9f9fb;
	--blue-color: #4cc9f9;
	--border-color: #dadae2;
}

body {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.57;
	color: var(--black-color);
	background-color: var(--background-color);
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	padding: 0 15px;
}

.mail {
	display: flex;
	flex-direction: column;
	max-width: 318px;
	width: 100%;
	text-align: center;
	margin: 40px 0;
}

.mail-image {
	margin: 0 auto;
	margin-bottom: 8px;
}

.mail-form {
	display: flex;
	flex-direction: column;
	padding: 16px;
	margin-bottom: 8px;
	background-color: var(--white-color);
}

.mail-inputs {
	display: flex;
	flex-direction: column;
	gap: 8px;
	margin-bottom: 8px;
}

.mail-label {
	width: 100%;
	height: 46px;
	border: 1px solid var(--border-color);
	border-radius: 8px;
	overflow: hidden;
	display: flex;
	align-items: center;
}

.mail-label:focus-within {
	border-color: var(--blue-color);
}

.mail-icon-container {
	background-color: var(--grey-color2);
	min-width: 45px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-right: 1px solid var(--border-color);
}

.mail-icon {
	width: 16px;
	height: 16px;
}

.mail-input {
	width: 100%;
	height: 100%;
	padding: 0 12px;
	background-color: var(--white-color);
	outline: none;
}

.mail-input::placeholder {
	font-size: 14px;
	color: var(--placeholder-color);
}

.mail-button {
	display: block;
	border-radius: 8px;
	padding: 8px 20px;
	height: 48px;
	width: 100%;
	color: var(--white-color);
	background-color: var(--blue-color);
	transition: background-color 0.3s;
}

.mail-button:hover {
	background-color: #3cb3e3;
}

.mail-link {
	line-height: 1.37;
	color: var(--placeholder-color);
	margin-bottom: 12px;
}

.mail-support {
	display: flex;
	justify-content: center;
	gap: 8px;
	font-size: 14px;
	line-height: 1.57;
	text-align: center;
}

.mail-support-text {
	color: var(--grey-color);
}

@media (max-width: 480px) {
	.main {
		background-color: var(--white-color);
	}
}
